@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
}

/* 상단 헤더 */
.header {
    background: #b5002d;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}